{
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 120,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css"
}
